.column-wrapper{
  margin: auto;
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-column-gap: 2px;
}

.books-index-column{
  display: grid;
  grid-template-rows: 1fr;
  grid-row-gap: 2px;
  align-items: center;
  justify-content: center;
}

.book-item-wrapper{
  width:540px;
  height: 329px;
  display: flex;
  justify-content: center;
}
