.create-book-component {
  margin-top: 15px;
  margin-left: 40px;

  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  width: 870px;
  height: 960px;
  margin-top: 45px;
}

.create-form-box {
  grid-area: 1/2/1/3;
  display: flex;
  flex-direction: column;
}

.image-upload {
  margin-left: 35px;
  font-size: 12px;
  grid-area: 1/3/1/4;
}
.create-form {
  display: flex;
}
.text-input{
  display: flex;
  flex-direction: column;
}
.create-input {
  margin-bottom: 6px;
  background-color: white;
  border: 1px solid gray;
  border-radius: 3px;
  float: right;
}
textarea{
  width: 300px;
  height: 200px;
}
button {
  background-color: white;
  cursor:pointer;
}

.submit{
  background-color:rgb(244, 241, 234);
  text-align: center;
  width: 98px;
  height: 40px;
  border: 1px solid gray;
  margin-top: 30px;
  cursor:pointer;
}
.image-button{
  border-radius: 3px;
  background-color: rgb(244, 241, 234);
}
