.footer {
    background-color: #F4F1EA;
    color: #666;
    font-size: 11px;
    height: 28px;
    text-align: center;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}



.footerlink {
  padding: 3px;
  border-right: 1px solid #666;
}
.footer :last-child {
  border: none;
}
