.login-signup-page{
  height: 100%;
}

.nav-and-form{
  background-image: image-url("masthead_background.jpg");
  background-position: center;
  background-repeat:repeat-x;
  height: 370px;
}

.ui-content{
  width: 55%;
  min-width: 900px;
  margin: 0 auto 20px;
}

.search-input {
  padding: 2px;
  padding-left: 4px;
}
