.login-signup-page{
  height: 100%;
}

.nav-and-form{
<<<<<<< HEAD
  background-image: url("masthead_background.jpg");
  background-position: center;
  background-repeat:no-repeat;
=======
  background-image: image-url("masthead_background.jpg");
  background-position: center;
  background-repeat:repeat-x;
>>>>>>> userAuth
  height: 370px;
}

.ui-content{
  width: 965px;
  margin: 0 auto 20px;
}
