.nav-bar{
  display: flex;
  margin:auto;
  justify-content: space-between;
  height: 65px;
  padding-top: 10px ;
  font-family: "Helvetica", sans-serif;
}

.nav-logo{

}

.login-form-box{

}

.signin-input{
  margin-left: 2px;
  margin-right: 1px;
  height: 23px;
  border: #DCD6CC 1px solid;
  font-size: 13px;
  width: 120px;
}

.nav-sign-button{
  margin-left: 5px;
  height:30px;
  width: 45px;;
  background: rgb(56, 33, 16);
  border-radius: 3px;
  text-align: center;
  border-style: none;
  cursor:pointer;
  color: white;
  font-size: 11px;
}

.logged-nav{
  margin:auto;
  justify-content: space-between;
  height: 45px;
  width: 60%;
  padding-top: 10px ;
  font-family: "Helvetica", sans-serif;
  display: flex;
}
.logged-form-container{
  background-color: rgb(244, 241, 234);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 2px 0px;
}
