.recommendation-wrap{
  width: 300px;
  height: 50%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.recc-box{
  // width: 80%;
  display: flex;
  font-size: 16px;
}

.recc-book-box {
  width: 50%;
  height: 88%;
}

.recc-book-img {
  width: 85%;
}
.recc-text {
  display: flex;
  flex-direction: column;
  width:50%;
  font-family: 'Rubik',sans-serif;
}
