.review-container {
  background-color: white;
  height: 100%;
}
.review-items {
  width: 40%;
  margin-left: 20%;
  margin-top: 70px;;
}
.review-title {
  color: #00635d;
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: bold;
}
