.signup-form-container{
  display: flex;
  margin:auto;
  width: 65%;
  align-items: center;
  justify-content: space-around;
  margin-top: 40px;
}

.signup-form-box{
  display: flex;
  flex-direction: column;

}
input{
  margin-bottom: 5px;
}
.signup-button{
  background-color: rgb(253, 208, 95);
  width: 85px;
  height: 38px;
  margin-top: 2px;
  border-radius: 7px;
  font-size: 18px;
  font-family: sans-serif;
}
