.signup-form-container{
  display: flex;
  margin:auto;
  height: 295px;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin-top: 32px;
  min-width: 900px;
}
.signup-form-box{
  display: flex;
  flex-direction: column;
  max-width: 280px;
  max-height: 186px;
  margin-bottom: auto;
  background: inherit ;
}

h2{
  font-size: 17px;
}

.input-signup{
  width: 270px;
  height: 35px;
  margin-top: 5px;
  font-size: 16px;
  border-radius: 3px;
  border: #DCD6CC 1px solid;
  padding: 4px;
}
h2{
  font-size: 17px;
  font-weight: normal;
}
#login-headling{
  max-height: 121px;
  max-width: 446px;

  margin-top: 50px;
  margin-bottom: auto;
}
.signup-button{
  background-color: rgb(253, 208, 95);
  width: 85px;
  height: 38px;
  box-sizing: border-box;
  border-style: none;
  cursor:pointer;
  margin-top: 4px;
  border-radius: 7px;
  font-size: 18px;
  text-align: center;
}

.signup-errors-box{
  padding: 14px;
  position: fixed;
  right:20px;
  top: 30px;
  color: white;
  background-color:#f45c42;
  border-radius: 8px;
}

.status-errors-box{
  padding: 14px;
  position: fixed;
  right:20px;
  top: 100px;
  color: white;
  background-color:#f45c42;
  border-radius: 8px;
}

.errors{
  list-style-position: inside;
  margin-right: 12px;
}
