.hid{
  display: none;
  position: absolute;
  border: 1px solid gray;
  min-width: 100%;
  min-height: 100%;
  z-index: 1;
  font-size: 14px;
  font-family: "Lato", "Helvetica Neue", Helvetica, sans-serif;
  padding: 3px;
  background-color: white;
}
.book-drop{
  position: relative;
  margin:auto;
}


.book-drop:hover .hid {
  display: flex;
  flex-direction: column;
}
.hid button:hover {
  background-color: lightgray;
}
