.user-greet {
  width:87%;
  height: 90%;
  font-size: 18px;
  font-family: Merriweather, Georgia, serif;
}
.user-greet-wrapper {
  width:300px;
  height: 230px;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  position:fixed;
}
.user-info-column {
  display: flex;
  justify-content: center;
}
